.navcontainer{
    background-color: #A7D2CB;
}
.chatbtn{
    color: white;
    background-color: #874C62;
    border-radius: 8px;
    border-radius: 15px;
    border: none;
    height: 2rem;
    width: 5rem;
}
.chatbtn:hover{
    background-color: #C98474;
}

.logoutbtn{
    color: white;
    margin-left: 1rem;
    border-radius: 15px;
    background-color: #874C62;
    border: none;
    height: 2rem;
    width: 7rem;
}
.logoutbtn:hover{
    background-color: #C98474;
}