.editbtn {
  color: white;
  background-color: #874c62;
  border-radius: 8px;
  border-radius: 15px;
  border: none;
  height: 2rem;
  width: 8rem;
}
.editbtn:hover {
  background-color: #c98474;
}

.ProfileimgContainer {
  margin-top: 1rem;
  background-repeat: no-repeat;
  background-image: url("../images/back.png");
  border-radius: 1rem;
  height: 13rem;
}

.profileimg {
  margin-top: -0.8rem;
  width: 15rem;
  border: 1rem solid white;
  border-radius: 8rem;
  box-shadow: 0 1rem 1rem rgb(103, 102, 102);
}

.DetailContainer {
  margin-top: 1rem;
  height: max-content;
  border-radius: 1rem;
}
.heading {
  margin-top: 3.5rem;
}
.badgebox {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer {
  margin-top: 1rem;
}
